.container {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 80px;
    color: #fff;
    max-width: 500px;
    position: relative;
}

.donate_data{
    padding: 15px;
    border-radius: 10px;
    background: rgb(255,0,104);
    background: -moz-linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(180,20,239,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(180,20,239,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(180,20,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0068",endColorstr="#b414ef",GradientType=1);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.GIF_container{
    width: 80px;
    height: 80px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: -2.5vw;
}

.informations{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 1.5vw;
    word-wrap: break-word;
    line-height: 2.2vw;
    margin-left: 20px;
    font-weight: 200;
}
h2 {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    font-size: 2.5vw;
    font-weight: bold;
    color: #050608;
}

h3 {
    display: block;
    width: 100%;
    margin-top: 20px;
    word-wrap: break-word;
    font-size: 1.3vw;
}

.IO{
    position: absolute;
    height: 80px;
    width: 80px;
    right: 30%;
    top: -60px;
    animation: IO 3s linear;
    opacity: 0;
}

.logo {
    position: absolute;
    width: 20%;
    top: -30px;
    right: 0;
    z-index: 1;
    padding: 4px 10px;
    border-radius: 7px;
    max-width: 260px;
}

@keyframes IO {
    0%, 100%{
        opacity: 0;
        top: -60px
    }

    50% {
        opacity: 1;
        top: -80px
    }
}
