.container{
    font-family: 'Poppins', sans-serif;
    width: 80vw;
    margin: 0 5vw;
    margin-top: 3vw;
    padding: 0.5vw;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.2);
    position: relative;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    color: #fff;
    border: 0.2rem solid #fff;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 .8rem #bc13fe,
                0 0 .8rem #bc13fe,
                inset 0 0 .3rem #bc13fe; 
    max-width: 100% !important;
}

.donate_data{
    padding: 2vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.GIF {
    width: 20vw;
    height: 20vw;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.highlight{
    background: rgb(255,0,232);
    background: -moz-linear-gradient(90deg, rgba(255,0,232,1) 0%, rgba(127,0,162,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,232,1) 0%, rgba(127,0,162,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,232,1) 0%, rgba(127,0,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00e8",endColorstr="#7f00a2",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 4vw;
    text-align: left;
    box-sizing: border-box;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 2.5vw;
    word-wrap: break-word;
    line-height: 3.5vw;
    box-sizing: border-box;
    font-weight: 200;
    width: 60vw;
    margin-left: 2vw;
}

.message {
    display: block;
    word-wrap: break-word;
    font-size: 2.5vw;
    width: 74vw;
    margin: 0 2vw;
    margin-top: 1vw;
}

.IO{
    position: absolute;
    height: 9vw;
    width: 9vw;
    right: -8vw;
    top: 1vw;
    animation: IO 3s linear;
    transform: rotate(90deg);
    opacity: 0;
}

.logo {
    position: absolute;
    width: 20vw;
    bottom: -5vw;
    right: 0;
    z-index: 1;
    border-radius: 7px;
}

@keyframes IO {
    0%, 100%{
        opacity: 0;
        right: -8vw
    }

    50% {
        opacity: 1;
        right: -10vw
    }
}