.container {
    font-family: 'Poppins', sans-serif;
    width: 90vw;
    margin: 0 5vw;
    margin-top: 8vw;
    color: #fff;
    position: relative;
}

.donate_data{
    padding: 2vw;
    border-radius: 10px;
    background: rgb(255,0,104);
    background: -moz-linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(180,20,239,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(180,20,239,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(180,20,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0068",endColorstr="#b414ef",GradientType=1);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.GIF_container{
    width: 20vw;
    height: 20vw;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: -4vw;
}

.informations{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 2.5vw;
    word-wrap: break-word;
    line-height: 3.5vw;
    box-sizing: border-box;
    padding: 5vw;
    font-weight: 200;
}
h2 {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    font-size: 4vw;
    font-weight: bold;
    color: #050608;
}

h3 {
    display: block;
    word-wrap: break-word;
    font-size: 2.5vw;
    width: 80vw;
    margin: 0 5vw;
    margin-top: 3vw;
}

.IO{
    position: absolute;
    height: 9vw;
    width: 9vw;
    right: 30%;
    top: -7vw;
    animation: IO 3s linear;
    opacity: 0;
}

.logo {
    position: absolute;
    width: 20vw;
    top: -4vw;
    right: 0;
    z-index: 1;
    border-radius: 7px;
}

@keyframes IO {
    0%, 100%{
        opacity: 0;
        top: -7vw
    }

    50% {
        opacity: 1;
        top: -9vw
    }
}
